*,
*::after,
*::before {
  box-sizing: border-box;
}
ul,
ol {
  list-sytle-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*  HEADER SECTION  */
header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-menu:hover,
.nav-menu:focus {
  color: #404bbf;
}

.nav-adressul {
  display: flex;
  gap: 40px;
}

.nav-adress {
  font-style: normal;
}

.nav-add {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-add:hover,
.nav-add:focus {
  color: #404bbf;
}

/*  SECTION ONE  */
.sec-one {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  display: flex;
  flex-shrink: 0;
}

.container-secone {
  display: flex;
  flex-direction: column;
}

.sec-one-hone {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.sec-onebutton {
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.sec-onebutton:hover,
.sec-onebutton:focus {
  background-color: #404bbf;
}

.sec-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sec-two-ul {
  display: flex;
  gap: 24px;
}

.sec-two-li {
  width: calc((100%-72px) / 4);
}

.sec-two-hthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sec-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.sec-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.sec-three-htwo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 72px;
}

.sec-three-ul {
  display: flex;
  gap: 24px;
}
.sec-three-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.sec-three-div-two {
  padding: 32px 0;
}

.sec-three-hthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.sec-three-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.sec-four {
  padding: 120px 0;
}

.sec-four-htwo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.sec-four-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
}

.sec-four-li {
  width: calc((100%-72px) / 4);
}

.sec-four-div-two {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.sec-four-hthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sec-four-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-bar {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
